<h3>Ajouter une techno à la liste des technos<h3>
    
<form #f="ngForm" (submit)="addTechno(f)">
    <div class="form-group">
        <label for="technoname">Nom de la techno</label>
        <input type="text" id="technoname" ngModel name="technoname">
        <label for="category">Catégorie</label>
        <select name="category" id="category" ngModel name="category">
            <option value=" ">----------</option>
            <option value="front">Front</option>
            <option value="back">Back</option>
            <option value="full">Full Stack</option>
        </select>
    </div>
    <div class="form-group">
           <textarea name="details" id="details" ngModel name="details" cols="100" rows="10">Détails / Remarques & Objectifs...</textarea>
    </div>
    <div class="form-group">
        <button type="submit" id="submit">Ajouter</button>
    </div>

</form>