.form-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-group {
    display: block;
}

.form-group>* {
    flex-flow: column wrap;
    padding: 1%;
    margin: 1%;
}

#submit {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: darkblue;
    padding: 2% 4%;

}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

    .terminal {
        width: 100%;
    }

 
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}