<nav class="navbar">
    <img    width="40"    alt="Angular Logo"    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="  />  <span>Welcome</span>    <div class="spacer"></div>

    <a routerLink="/" class="navbar-item">Accueil</a>
    <a routerLink="/add-techno" class="navbar-item">Ajouter une techno</a>
    <a routerLink="/list-techno" class="navbar-item">Liste des technos en veille</a>
</nav>
<div class="content" role="main">
    <H1>Bienvenue dans Angular X Veille Technologies</H1>
    <div class="terminal">
Après Angular 8 découvert en 2019, l'occasion de revenir sur les points suivants :
Génération d'un nouveau projet
Génération de nouveaux components
Implémentation du routage
Création et gestion d'un formulaire
Création d'un service permettant de gérer les données
Génération d'un ID + reset du formulaire après soumission
Lecture de toutes les données persistées (un simple tableau. pas de données en base ici)
Itération côté template sur nos technos
Passer des données à un component enfant grâce à un input
Création d'une interface afin de typer fortement (contrainte de la désactiver pour déployer le projet sur Heroku)
Création et émission d'un custom event
Pour aller plus loin
    </div>
    <router-outlet></router-outlet>
</div>
